#aframe-main-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

#main-ui-container{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.interactable-ui{
    pointer-events: auto;
}

.timer-container{
    width: auto;
    margin: 0.5em;
    margin-top: 0;
}